h1 {
  margin-top: 1em;
}
.hidden {
  display: none;
}
.step .right {
  text-align: center;
}
button.postfix {
  padding: 0;
  border-color: #ccc;
  border-left: none;
}
button.remove-step {
  transition: 0s linear;
}
button.remove-step:hover {
  color: #fff;
  background-color: #c60f13;
  border-color: #9e0c0f;
}
button.remove-step[disabled]:hover {
  border-color: #bababa;
}
pre,
.preview {
  white-space: pre-wrap;
}
.output {
  -webkit-user-select: all;
     -moz-user-select: all;
      -ms-user-select: all;
          user-select: all;
}
